<footer>
    <div class="social-links">
        <a href="https://linkedin.com/in/gabriellesouzacarvalho" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/gabrielle-carvalho" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://gitlab.com/gabrielle-carvalho" target="_blank"><i class="fab fa-gitlab"></i></a>
        <a href="mailto:gabriellecarvalhotech@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://instagram.com/gabriellecarvalho.tech" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="http://lattes.cnpq.br/3017759217331612" target="_blank"><i class="fas fa-graduation-cap"></i></a>
    </div>
    <p class="copyright">&copy; 2026 Gabrielle Carvalho</p>
</footer>