<nav>
    <div class="logo">
        <a href="index.html">gabriellecarvalho.tech</a>
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <i class="fas fa-bars"></i>
    </div>

    <ul class="nav-links" id="nav-list">
        <li><a href="index.html" id="link-home">Home</a></li>
        <li><a href="about.html" id="link-about">About</a></li>
        <li><a href="projects.html" id="link-projects">Projects</a></li>
        <li><a href="contact.html" id="link-contact">Contact</a></li>
        <li><a href="curricullum.html" id="link-curricullum" class="btn-download">Curricullum <i class="fas fa-file-pdf"></i></a></li>
    </ul>
</nav>